include ../helpers/table
include ../helpers/tdGutter

mixin singleColumn(options = {})
	-
		options.fullBleed = options.fullBleed || false
		options.containerClasses = options.containerClasses || ''
		options.innerClasses = options.innerClasses || ''
		options.tdClasses = options.tdClasses || ''
		options.wrapperClasses = options.wrapperClasses || ''
	tr
		td(align='center' class=`responsive ${options.wrapperClasses}` valign='top')
			// startMSO
			+table(
				class=`responsive ${options.containerClasses}`
				align='center'
				width=fullBleed ? $.w.extra : $.w.total
			)
				tr
					+tdGutter
					td(align='center' class=`content ${options.tdClasses}` width=$.w.content)
						// endMSO
						<!--[if !mso]><!-->
						div(
							class=`container${options.fullBleed ? '_extra' : ''}`
							+ ` ${options.containerClasses}`
						)
							.pseudo_table
								div(class=`column ${options.tdClasses}`)
									<!-- <![endif]-->
									div(class=options.innerClasses)
										block
									<!--[if !mso]><!-->
						<!-- <![endif]-->
						// startMSO
					+tdGutter
			// endMSO
